.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 238px;
    height: 56px;
    border-radius: 60px;
    border: 2px solid var(--main-button-border-color);
    cursor: pointer;
    color: var(--main-button-text-color);
    transition: color 0.5s,background-color 0.5s;
}
.button:hover {
    color: var(--main-button-hover-text-color);
    background-color: var(--main-button-hover-background-color);
}

.button:active {
    color: var(--main-button-active-text-color);
    background-color: var(--main-button-active-background-color);
}

.button_secondary {
    width: 282px;
}


