:root {
    --main-background-color:#F6F5F5;
    --menu-background-color: rgba(246, 245, 245, 50%);
    --secondary-background-color: #D0E4D9; 
    --tertiary--background-color: #F6F9F1;
    
    --main-border-color: #C1C1C1;
    /* competitions block */
        --main-competitions-block-background-color: #D2E3ED;
        --secondary-competitions-block-background-color: #353535;

    /*photo-link*/
    --photo-link-main-background-color: #8EAAAB; 
    --photo-link-secondary-background-color: #1E1E25;
    /*text*/
    --main-text-color: #1E1E25;
    --secondary-text-color: #FFFFFF;
    --tertiary-text-color: #9090A6;
    /*main-button*/
   --main-background-color-button :#6C79EC;
   --main-button-border-color:#6C79EC;
   --main-button-text-color:#6C79EC;
   --main-button-active-background-color:#4653CE;
   --main-button-active-text-color:#FFFFFF;
   --main-button-hover-background-color:#6C79EC;
   --main-button-hover-text-color:#FFFFFF;
   /*secondary-button*/
   --secondary-button-background-color:#6C79EC;
   --secondary-button-text-color:#FFFFFF;
  
    /* tertiary-button */
    --tertiary-button-backgound-color: #D0E4D9;
    --tertiary-button-text-color: #373737;

    /* ticket */
    --ticket-backgound-color: #FFFFFF;
    --ticket-divider-backgound-color: #1E1E25;

    /* border */
    --main-border-color: #9090A6;
    --secondary-border-color: #D1D1DE;
}
