.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1130px;
    padding-top: 38px;
    background: url('../images/header-background.jpg')no-repeat center/cover;

}

.header__block {
    height: 38px;
}


.header__partners {
    width: 575px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin-top: 76px;
}

.header__data {
    margin-top: 211px;
}

.header__title, .header__text {
    margin-top: 40px;
}

.header__buttons-wrapper {
    display: flex;
    margin-top:30px ;
}

.header__buttons-wrapper> .button:first-child {
    margin-right: 24px;
}

.header__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 162px;
    cursor: pointer;


}