@import  './normilize.css';
@import './fonts.css';
@import './colors.css';
/*blocks*/ 
@import'./common.css';
@import './menu.css';
@import './header.css';
@import'./button.css';
@import'./logo.css';
@import'./museum-info.css';
@import'./cars.css';
@import'./photo-link.css';
@import'./programms.css';
@import'./divider.css';



*{
  box-sizing: border-box;
  font-family: Unbounded;
  font-style: normal;
}

body {
position: relative;
}
